<div data-filmid="{{id}}" class="photo-card">
    <a data-filmid="{{id}}" class="gallery__item link" href="">
        <img data-filmid="{{id}}" class="img-card" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" loading="lazy" />
        <div data-filmid="{{id}}" class="info-item">
            <p data-filmid="{{id}}" class="info-item__name">
                {{title}}
            </p>
            <div data-filmid="{{id}}" class="info-item__desk">
                <p data-filmid="{{id}}" class="info-item__genres">
                    {{genres}}
                </p>
                <p data-filmid="{{id}}" class="info-item__date">
                    {{year}}
                </p>
            </div>
        </div>
    </a>
</div>
